# data
data/*.parquet
data/*.csv
data/*.json
!data/.gitkeep

# models
models/*.pkl
models/*.json
models/*.joblib
!models/.gitkeep

# env
.env
*.env
__pycache__/
*.pyc
.ipynb_checkpoints/

# conda/venv
venv/
.venv/

# OS
.DS_Store

# API keys — never commit
**/secrets.py
**/*_key.txt

#handoff Documents
Handoff Docs/*.md

#project instructions
PROJECT_INSTRUCTIONS*.md
